<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Select Messages</title>
  </head>
  <body>
    <form method="post">
      {% for message in tables[0].split('<tr>')[1:] %}
        <input type="checkbox" name="messages" value="{{ message.split('<td>')[1].split('</td>')[0] }}"> {{ message.split('<td>')[1].split('</td>')[0] }}<br>
      {% endfor %}
      <input type="submit" value="Filter Messages">
    </form>
    <h2>Filtered Messages</h2>
    {% for table in tables %}
      {{ table|safe }}
    {% endfor %}
  </body>
</html>
